{% extends 'interview/base.html' %}
{% load rest_framework %}

{% block content %}
<div class="container">
    <h3 class="text-center">Опросы</h3>
    <p class="text-end mb-5">Количество доступных опросов - {{ count }}</p>
    <ul>
        {% for el in category %}
        <li class="my-5">
            <div class="shadow p-3 rounded d-flex justify-content-between">
                <div class="container">
                    <h4>{{ el.title }}</h4>
                    <p class="ms-2 text-muted">{{ el.description }}</p>
                </div>

                <div class="btn-group-vertical">
                    <a href="{% url 'category_detail' el.pk %}">
                        <button type="button" class="btn btn-info">Подробнее</button>
                        {% if user.is_authenticated %}
                        <a href="{% url 'category_update' el.pk %}">
                            <button type="button" class="btn btn-warning">Изменить</button>
                        </a>
                        <a href="{% url 'category_delete' el.pk %}">
                            <button type="button" class="btn btn-danger">Удалить</button>
                        </a>
                        {% endif %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}