{% extends 'interview/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container">
    <div class="shadow rounded p-3 my-5">

        <h3 class="text-center my-3 display-6">{{ category.title }}</h3>
        <div class="container">
            <h5 class="ms-5 my-2">Вопросы</h5>
            <ul>
                {% for q in questions %}
                <li>
                    <div class="container">
                        <!--                        Здесь-->
                        <a href="{{ q.get_absolute_url }}"><h6>{{ q.title }}</h6></a>
                        <p>{{ type }}</p>
                        <p>{{ slug }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="d-flex justify-content-end container text-muted">
            <div>
                <ul class="mb-5 ms-5">
                    <li class="my-1">
                        <p>Описание: {{ category.description }}</p>
                    </li>
                    <li class="my-1">
                        <p>Автор: {{ category.owner }}</p>
                    </li>
                    <li class="my-1">
                        <p>Дата начала: {{ category.start_date|default_if_none:"Не определена" }}</p>
                        {% if user.is_authenticated %}
                        <p class="small">* После начала опроса Вы не сможете его изменить</p>
                        {% endif %}
                    </li>
                    <li class="mt-1 mb-5">
                        <p>Дата окончания: {{ category.end_date|default_if_none:"Не определена" }}</p>
                    </li>
                    <div class="btn-group-vertical">
                        {% if user.is_authenticated %}
                        {% if category.elapse >= 1 %}
                        <a href="{% url 'category_update' pk=category.pk %}">
                            <button type="button" class="btn btn-warning">Изменить</button>
                        </a>
                        <a href="{% url 'category_delete' pk=category.pk %}" class="my-3">
                            <button type="button" class="btn btn-danger">Удалить</button>
                        </a>
                        <a href="{% url 'q_create' %}" class="btn btn-secondary">Добавить вопрос</a>
                        {% else %}
                        <p>Опрос начался</p>
                        {% endif %}
                        {% endif %}
                    </div>
                </ul>
            </div>

        </div>

        <a href="{# url 'answer' pk=category.pk #}" class="btn btn-secondary my-5 ms-3">Пройти опрос</a>

    </div>
</div>
<br>
<br>

{% endblock %}