{% extends 'interview/base.html' %}

{% block title %}Создать опрос{% endblock %}

{% block content %}

    <div class="container justify-content-center shadow rounded p-5 mt-5 w-75">
        <h4 class="text-center">Создать опрос</h4>
        <form method="post" class="">
            {% csrf_token %}
            <span>Наименование опроса*</span>
            {{ form.title }}
            <span>Описание опроса*</span>
            {{ form.description }}
            <div class="d-flex justify-content-around">
                <div>
                    <span>Начало опроса</span>
                    {{ form.start_date }}
                </div>
                <div>
                    <span>Окончание опроса</span>
                    {{ form.end_date }}
                </div>

            </div>
            <span class="text-muted mt-2 ml-2 small">*После начала опроса нельзя редактировать!</span><br>

            <input type="submit" class="btn btn-success my-3 shadow" value="Создать">
        </form>
    </div>

<br>
{% endblock %}