{% extends 'interview/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container">
    <div class="shadow rounded p-3 my-5">
        <div class="d-flex align-items-center justify-content-center">
            <div>
                <h4 class="text-center my-3 mr-3">Опрос: {{ category.title }}</h4>
            </div>
            {% if user.is_authenticated %}
            <div>
                <a href="{% url 'category_create' %}" class="text-success ml-2">+</a>
            </div>
            {% if category.elapse >= 0 %}
            <div>
                <a href="{{ q.get_absolute_url }}" class="text-decoration-none">{{ q.title }}</a>
            </div>
            <div>
                <a href="{% url 'category_update' pk=category.pk %}" class="text-info ml-2">&#8635;</a>
            </div>
            <div>
                <a href="{% url 'category_delete' pk=category.pk %}" class="text-danger ml-2">&#215;</a>
            </div>
            {% endif %}
            {% endif %}
        </div>

        <div class="container">
            <h5 class="ml-5 my-3">Вопросы</h5>
            <p class="text-end text-muted ml-5 small">Количество вопросов: {{ count }}</p>
            <ul>
                {% for q in questions %}
                <li>
                    <div class="container d-flex align-items-center">
                        {% if user.is_authenticated %}
                        {% if category.elapse >= 0 %}
                        <div>
                            <a href="{{ q.get_absolute_url }}" class="text-decoration-none">{{ q.title }}</a>
                        </div>
                        <div>
                            <a href="{% url 'q_create' pk=category.pk %}" class="text-success ml-2">+</a>
                        </div>
                        <div>
                            <a href="{% url 'q_update' pk=category.pk q_pk=q.pk %}" class="text-info ml-2">&#8635;</a>
                        </div>
                        <div>
                            <a href="{{ q.get_delete_url }}" class="text-danger ml-2">&#215;</a>
                        </div>

                        {% else %}
                        <p>{{ q.title }}</p>
                        {% endif %}
                        {% endif %}
                    </div>
                </li>

                {% endfor %}

            </ul>
            <a href="{% url 'answer_create' %}" class="btn btn-info my-2 shadow">Пройти опрос</a>
            <a href="{% url 'list' %}" class="btn btn-secondary my-2 ml-2 shadow">Вернуться</a>
        </div>
        <div class="d-flex justify-content-end container text-muted">
            <div>
                <ul class="mr-2">
                    <li class="">
                        Описание: {{ category.description }}
                    </li>
                    <li class="my-1">
                        Автор: {{ category.owner }}
                    </li>
                    <li class="">
                        Дата начала: {{ category.start_date|default_if_none:"Не определена" }}
                        {% if user.is_authenticated %}
                        <p class="small">* После начала опроса Вы не сможете его изменить</p>
                        {% endif %}
                    </li>
                    <li class="mb-3">
                        Дата окончания: {{ category.end_date|default_if_none:"Не определена" }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>

{% endblock %}