{% extends 'interview/base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}

<div class="container my-5">
    <h3 class="text-center">Опросы</h3>
    <div class="d-flex justify-content-end mb-3">
        <p class="text-end text-muted mr-5">Количество доступных опросов - {{ count }}</p>
    </div>
    {% if user.is_authenticated %}
    <a href="{% url 'category_create' %}" class="btn btn-success">Создать новый опрос</a>
    {% for el in categories %}
    <div class="shadow p-3 rounded my-3">
        <div class="container p-3">
            <a href="{{ el.get_absolute_url }}" class="btn btn-info shadow mr-5 mb-3">Опрос: {{ el.title }}</a>
            <p class="text-muted">Описание: {{ el.description }}</p>
            <p class="">Дата старта: {{ el.start_date|default_if_none:"Не определена" }}</p>
            <p class="small text-muted">До начала опрос недоступен для пользователей, также вы не можете редактировать
                опрос после начала.</p>
            <p class=""> Дата окончания: {{ el.end_date|default_if_none:"Не определена" }}</p>
            <p class="small text-muted">После опрос недоступен для пользователей.</p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    {% for el in enable_interview %}
    <div class="shadow p-3 rounded mb-3">
        <div class="container p-3">
            <a href="{{ el.get_absolute_url }}" class="btn btn-info shadow mr-5">Опрос: {{ el.title }}</a>
        </div>
    </div>
    {% endfor %}
    {% endif %}

</div>
<br>
<br>
<br>

{% endblock %}