{% extends 'interview/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="container justify-content-center shadow rounded p-3 mt-5">
    <div class="d-flex align-items-center justify-content-center">
        <div>
            <h4 class="text-center my-3 mr-3">Опрос: {{ category.title }}</h4>
        </div>
        {% if user.is_authenticated %}
        <div>
            <a href="{% url 'category_create' %}" class="text-success ml-2">+</a>
        </div>
        {% if category.elapse_date %}
        <div>
            <a href="{{ q.get_absolute_url }}" class="text-decoration-none">{{ q.title }}</a>
        </div>
        <div>
            <a href="{% url 'category_update' pk=category.pk %}" class="text-info ml-2">&#8635;</a>
        </div>
        <div>
            <a href="{% url 'category_delete' pk=category.pk %}" class="text-danger ml-2">&#215;</a>
        </div>
        {% endif %}
        {% endif %}
    </div>

    <div class="container">
        <div class="d-flex justify-content-end mr-5">
            <span class="ml-5 text-info">Количество вопросов: {{ count }}
            </span>
        </div>

        <table class="mb-5">
            {% for q in questions %}
            <tr class="mt-1">
                {% if user.is_authenticated %}
                {% if category.elapse_date %}
                <th>
                    <a href="{{ q.get_absolute_url }}" class="text-decoration-none">{{ q.title }}</a>
                </th>
                <th>
                    <a href="{% url 'q_update' pk=category.pk q_pk=q.pk %}" class="text-info ml-5">&#8635;</a>
                </th>
                <th>
                    <a href="{{ q.get_delete_url }}" class="text-danger ml-2">&#215;</a>
                </th>
                <th>
                    {% else %}
                    <li>{{ q.title }}</li>
                    {% endif %}
                    {% endif %}
                </th>
            </tr>
            {% endfor %}
        </table>
        <a href="{% url 'answer_number_create' pk=category.pk %}" class="btn btn-info my-2 shadow">Пройти опрос</a>
        {% if user.is_authenticated %}
        {% if category.elapse_date %}
        <a href="{% url 'q_create' pk=category.pk %}" class="btn btn-success my-2 ml-2 shadow">Добавить вопрос</a>
        {% endif %}
        {% endif %}
        <a href="{% url 'list' %}" class="btn btn-secondary my-2 ml-2 shadow">Вернуться</a>
    </div>

    <div class="d-flex justify-content-end container text-muted">
        <div>
            <ul class="mr-2">
                <li class="">
                    Описание: {{ category.description }}
                </li>
                <li class="my-1">
                    Автор: {{ category.owner }}
                </li>
                <li class="">
                    Дата начала: {{ category.start_date|default_if_none:"Не определена" }}
                    {% if not category.elapse_date %}
                    <span class="small text-danger">* Вы не можете изменить опрос, т.к. он уже начался!</span>
                    {% endif %}
                </li>
                <li class="mb-3">
                    Дата окончания: {{ category.end_date|default_if_none:"Не определена" }}
                </li>
            </ul>
        </div>
    </div>

</div>
<br>
<br>
<br>

{% endblock %}