{% extends 'interview/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Удалить {{ object.title }}{% endblock %}

{% block content %}
<div class="container mt-5">
    {% if user.is_authenticated %}
        <div class="container mb-2">
            <h4 class="mb-2 text-center">Удалить вопрос "{{ question.title }}"</h4>
            <form method="post" class="text-center">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger my-3" value="Удалить">
            </form>
        </div>
    {% else %}
    <h5>Только для <a href="{% url 'user' %}">зарегистрированных</a> пользователей</h5>
    {% endif %}
    <a href="/" class="btn btn-secondary">Вернуться</a>
</div>
{% endblock %}