{% extends 'interview/base.html' %}

{% block title %}{{ question.title }}{% endblock %}

{% block content %}
<div class="container shadow p-5 rounded my-5">
    {% if user.is_authenticated %}
    <div class="container">
        <h4 class="text-center my-2">Опрос: {{ category }}</h4>
        <hr class="mb-5">
        {% for el in questions %}
        <h5 class="my-3">Вопрос: {{ el.title }}</h5>
        {% if el.type == '1' %}

        <p>Тип ответа: текстом</p>
        {% elif el.type == '2' %}

        <p>Тип ответа: выбор</p>
        {% elif el.type == '3' %}

        <p>Тип ответа: опция</p>
        {% endif %}

        <div class="d-flex mt-5">
            {% if el.type != '1' %}
            <p class="ms-3 text-muted">Варианты ответов:</p>
            <div>
                {% for c in choice %}
                <ul class="ms-5">
                    <li>
                        <p>{{ c.title }}</p>
                    </li>
                </ul>

                {% endfor %}

                    <a href="{% url 'choice_create' pk=category.pk q_pk=el.pk %}" class="btn btn-success ml-2">Добавить
                        вариант ответа</a>

            </div>
            {% endif %}

        </div>
    </div>
    <hr class="mt-5">
    <div class="d-flex mt-5 justify-content-end">
        <a href="{{ category.get_absolute_url }}" class="btn btn-secondary mx-2">Венуться к опросу</a>
        <a href="{% url 'q_delete' pk=category.pk q_pk=el.pk %}" class="btn btn-danger mx-2">Удалить вопрос</a>
        <a href="{% url 'q_update' pk=category.pk q_pk=el.pk %}" class="btn btn-info mx-2">Изменить вопрос</a>
        {% endfor %}
    </div>
    {% else %}
    <p>Для редактирования вам нужно <a href="{% url 'user' %}">авторизоваться</a></p>
    <a href="{{ object.category }}" class="btn btn-secondary mt-5">Венуться к опросу</a>
    {% endif %}
</div>
<br>
<br>
{% endblock %}