{% extends 'polls/base.html' %}
{% load static %}
    {% block content %}
        {% verbatim %}
                <div class="container w-50 mt-5" id="poll">
                    <h1 class="text-center mb-5">Опросы</h1>
                    <div class="alert alert-info" v-for="el in poll">
                        <h2>{{ el.title_poll }}</h2>
                    </div>
                </div>
                <div class="container w-50 mt-5" id="question">
                    <h1 class="text-center mb-5">Вопросы</h1>
                    <div class="alert alert-info" v-for="el in question">
                        <h2>{{ el.title_question }}</h2>
                    </div>
                </div>
        {% endverbatim %}
    {% endblock %}