{% extends 'polls/base.html' %}
{% load static %}
    {% block content %}
    <div class="container">
        <form>
          <div class="my-3">
              <h3 class="text-center">Создание опроса</h3>
                <label class="form-label">Название опроса</label>
                <input type="text" class="form-control" id="exampleInputTitle1" aria-describedby="emailHelp">
                <div class="form-text">После начала Вы не сможете изменить данный опрос.</div>
              </div>
              <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Описание опроса</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Начало опроса</label>
                  <input class="form-control" id="exampleFormControlDate1" rows="3">
              </div>
              <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Окончание опроса</label>
                  <input class="form-control" id="exampleFormControlDate2" rows="3">
              </div>
              <button type="submit" class="btn btn-primary">Создать</button>
        </form>
    </div>

    {% endblock %}