{% extends 'polls/base.html' %}
{% load static %}
{% block content %}
{% verbatim %}
<div class="container" id="poll_create">
    <form>
        <div class="my-3">
            <h3 class="text-center">Создание опроса</h3>
            <label class="form-label">Название опроса</label>
            <input type="text" class="form-control" id="exampleInputTitle1">

        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Описание опроса</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Начало опроса</label>
            <input class="form-control" id="exampleFormControlDate1" rows="3">
            <div class="form-text">После начала Вы не сможете изменить данный опрос.</div>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Окончание опроса</label>
            <input class="form-control" id="exampleFormControlDate2" rows="3">
            <div class="form-text">После окончания данный опрос будет недоступен.</div>
        </div>
        <a href="{% url 'question' %}">
            <button type="submit" class="btn btn-primary">Создать</button>
        </a>
    </form>
</div>
{% endverbatim %}
{% endblock %}