{% extends 'polls/base.html' %}
{% load static %}
{% block content %}
{% verbatim %}
<div class="container mt-3" id="poll">
    <h4 class="text-center">Опросы</h4>
    <div class="d-flex text-muted pt-3" v-for="el in poll">
        <div class="pb-3 mb-0 small lh-sm border-bottom w-100 shadow p-3 rounded">
            <div class="d-flex justify-content-between">
                <strong class="text-gray-dark my-3">№ {{ el.id }} {{ el.title_poll }}</strong>
                {% endverbatim %}
                <a href="/api/user_answer/" class="d-flex align-items-center">Пройти опрос</a>
                {% verbatim %}
            </div>
            <p class="d-block">{{ el.description_poll }}</p>
        </div>
    </div>
</div>
<div id="user_answer">
    {{ user_answer }}
</div>
{% endverbatim %}
{% endblock %}