{% extends 'interview/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Добавить вариант{% endblock %}

{% block content %}

<div class="container shadow rounded p-5">
    <div class="container mb-2">
        <h4 class="text-center">Добавить вариант</h4>
        <p class="ml-5">Опрос: {{ category }}, Вопрос: {{ question }}</p>

        <form method="post">
            {% csrf_token %}
            {% for el in '123' %}
            {{ form|crispy }}
            {% endfor %}
            <input type="submit" class="btn btn-secondary my-3 shadow" value="Создать">
        </form>

    </div>
    <a href="{% url 'q_detail' pk=category.pk q_pk=question.pk %}" class="btn btn-secondary ml-3 shadow">Вернуться к
        вопросу</a>
</div>
<br>

{% endblock %}