{% extends 'interview/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Добавить вариант{% endblock %}

{% block content %}

<div class="container  mt-5 shadow rounded p-5">
    <h4 class="text-center">Добавить вариант</h4>
    <p class="ml-5">Опрос: {{ category }}, Вопрос: {{ question }}</p>
    <form method="post" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success my-3" value="Добавить вариант">
        <a href="{% url 'q_detail' pk=category.pk q_pk=question.pk %}" class="btn btn-secondary ml-3">Вернуться к вопросу</a>
    </form>
</div>
<br>

{% endblock %}