{% extends 'interview/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Прохождение опроса{% endblock %}

{% block content %}

<div class="container my-5 shadow rounded p-5">
    <p class="text-right">Опрос: {{ category }}</p>
    <form method="post" class="">
        <h3 class="text-center">Вопрос: {{ question }} </h3>
        {% csrf_token %}
        <p></p>
        {% if question.type == '1' %}
        <p>Впишите свой ответ:</p>
        {{ form.answer_text }}
        {% elif question.type == '2' %}
        <p>Выберите ответ:</p>
        {{ form.answer_choice }}
        {% elif question.type == '3' %}
        <p>Выберите ответы:</p>
        {{ form.answer_multi }}
        {% endif %}
        <input type="submit" class="btn btn-success" value="Ответить">
    </form>
</div>
<br>

{% endblock %}