{% extends 'interview/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Прохождение опроса{% endblock %}

{% block content %}

<div class="container mb-5">
    <h4 class="my-5 text-center">Опрос: {{ category }}</h4>
    <form method="post" class="my-3">
        <p class="text-center">Вопрос: {{ question }} </p>
        <p class="text-right">Ответ должен быть {{ question.get_type_display }} </p>
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success" value="Ответить">
    </form>
</div>
<br>

{% endblock %}